
/* Add this to your CSS file */
.my-custom-chart .apexcharts-tooltip,
.my-custom-chart .apexcharts-legend,
.my-custom-chart .apexcharts-title,
.my-custom-chart .apexcharts-xaxis-label,
.my-custom-chart .apexcharts-yaxis-label {
 color: #000; /* Text color */
}

.my-custom-chart .apexcharts-grid,
.my-custom-chart .apexcharts-grid-line,
.my-custom-chart .apexcharts-axis-line,
.my-custom-chart .apexcharts-axis-ticks,
.my-custom-chart .apexcharts-axis-title {
 stroke: #000; /* Grid and axis lines color */
}


.my-chart .apexcharts-line-series path {
  stroke-width: 1px; /* Set the width of the line to 2px (or any desired value) */
  stroke: #808080;
}
.logo{
  z-index: 999;
  position:absolute;
  left:36vw;
  top:70vh;
  font-size: 35px;
  color:rgb(174, 172, 172);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;

}
.logo img{
  height: 2.5rem;
  width: 8rem;
}
@media only screen and (max-width: 768px){
  .logo{
    font-size: 18px;
    left:55vw;
    top:35vh;
  }
}